<mat-list *ngIf="books?.length; else noItems">
  <mat-list-item *ngFor="let book of books">
    <h2 matLine>{{ book.title }}</h2>
    <p matLine>
      <span> {{ book.author }} - {{ book.genre }}</span>
    </p>

    <p matLine>
      <span class="rating-wrapper">
        <span *ngFor="let option of options">
          <span
            (click)="changeRating(option, book)"
            [ngClass]="{ rated: option <= book.rating }"
            >&#9733;</span
          >
        </span>
      </span>
    </p>

    <span class="fill-remaining-space"></span>
    <a mat-raised-button [routerLink]="['/books/details', book.id]">Details</a>
    <button
      mat-raised-button
      *ngIf="!book.read"
      color="primary"
      (click)="toggleBookRead(book)"
    >
      Read
    </button>
    <button
      mat-raised-button
      *ngIf="book.read"
      color="primary"
      (click)="toggleBookRead(book)"
    >
      Unread
    </button>
  </mat-list-item>
</mat-list>

<ng-template #noItems> <p>No Books to show</p> </ng-template>
